<div *transloco="let t" class="w-full">
    <!-- Nếu chưa gửi email -->
    <div>
        <!-- Title -->
        <div class="mt-5 text-3xl tracking-tight leading-tight">
            {{ t("forgot_password.title") }}
        </div>

        <div class="flex items-baseline pt-1 pb-4 text-gray-500">
            <span
                >Log in with your data that you entered during your
                registration</span
            >
        </div>

        <fuse-alert
            class="mt-4"
            *ngIf="showAlert"
            [appearance]="'outline'"
            [showIcon]="false"
            [type]="alert.type"
            [@shake]="alert.type === 'error'"
        >
            {{ t(alert.code) }}
        </fuse-alert>

        <!-- Forgot password form -->
        <form
            *ngIf="forgotPasswordForm"
            class="mt-4 md:h-full flex flex-col items-center justify-between"
            [formGroup]="forgotPasswordForm"
            #forgotPasswordNgForm="ngForm"
        >
            <div class="w-full">
                <!-- Email field -->
                <app-custom-input
                    #emailInput
                    label="{{ t('forgot_password.email_label') }}"
                    placeholder="{{ t('forgot_password.email_placeholder') }}"
                    type="email"
                    [control]="forgotPasswordForm.get('email')"
                    [errorMessages]="{
                    required: t('forgot_password.email_required'),
                    email: t('forgot_password.invalid_email'),
                }"
                    [required]="true"
                ></app-custom-input>
            </div>

            <div class="w-full">
                <!-- Submit button -->

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large !rounded-md w-full mt-2"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="forgotPasswordForm.disabled"
                    (click)="sendResetLink()"
                >
                    <span *ngIf="!forgotPasswordForm.disabled">
                        {{ t("forgot_password.submit") }}
                    </span>
                    <mat-progress-spinner
                        *ngIf="forgotPasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    >
                    </mat-progress-spinner>
                </button>
                <div class="flex justify-center items-center mt-3 font-medium">
                    <div>I'm remember my password?</div>
                    <a
                        class="ml-1 text-primary hover:underline"
                        [routerLink]="['/sign-in']"
                        >Sign in
                    </a>
                </div>
            </div>
        </form>
    </div>

    <!-- Nếu đã gửi email -->
    <!-- <div *ngIf="showNotification" class="text-start mt-10">
        <p class="mb-2">
            {{ t("forgot_password.success_message") }}
        </p>
        <p class="mb-2">
            {{ t("forgot_password.check_email") }}
            <strong>{{ t("forgot_password.promotion_folder") }}</strong>
            {{ t("forgot_password.and") }}
            <strong>{{ t("forgot_password.spam_folder") }}</strong>
        </p>
        <p class="mb-4">
            {{ t("forgot_password.no_email_received") }}
        </p>
        <p
            [ngClass]="{
                'text-primary cursor-pointer': counter === 0,
                'text-gray-500': counter > 0
            }"
            (click)="counter === 0 && resendResetLink()"
        >
            {{ t("forgot_password.resend") }}
            <span *ngIf="counter">({{ counter }}s)</span>
        </p>
    </div> -->
</div>
