::ng-deep .calendar-has-value .mat-calendar-body-cell-content::after {
  content: attr(data-value);
  display: block;
  font-size: 10px;
  color: #007bff;
  margin-top: 2px;
}

button.my-date {
  background: red;
}

.mySwiper {
  height: 80%;
  width: 100%;
}

.mySwiper2 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;

  .swiper-slide {
    opacity: 0.4;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }

  .swiper-slide-thumb-active {
    opacity: 1 !important;
  }

  .swiper-slide:hover {
    opacity: 0.7;
  }
}