.leaflet-tile-pane { filter: grayscale(50%) sepia(20%); } /* Màu xám nhẹ, tông nâu */
/* Tùy chỉnh cluster */
.marker-cluster-small {
    background-color: rgba(255, 87, 51, 0.6); /* Màu cam nhạt */
    color: #fff;
}
.marker-cluster-small div {
    background-color: rgba(255, 87, 51, 0.9); /* Màu cam đậm hơn */
}
.marker-cluster-medium {
    background-color: rgba(51, 153, 255, 0.6); /* Màu xanh dương */
    color: #fff;
}
.marker-cluster-medium div {
    background-color: rgba(51, 153, 255, 0.9);
}