<div class="flex w-full h-screen">
    <div class="relative flex items-center justify-center w-full h-full bg-center bg-no-repeat bg-cover"
        [style.background-image]="'url('+ ('assets/images/booking/booking_success.jpg')+ ')'"
    >
        <div class="absolute z-0 w-full h-full bg-black/50"></div>
        <div class="flex flex-col items-center justify-start w-[50%] h-auto gap-4 p-5 bg-white rounded-md z-[1]">
            <div class="block">
                <span class="text-green-500 text-[25px] font-clearface uppercase font-semibold">thanh toán thành công</span>
            </div>
            <div class="block">
                <img src="assets/images/booking/green_tick.gif" class="w-40 h-40"/>
            </div>
            <div class="flex items-center justify-between w-full">
                <span class="font-clearface text-[20px] text-black tracking-wider">Mã giao dịch:</span>
                <span>fghlkfghkl</span>
            </div>
            <div class="flex items-center justify-between w-full">
                <span class="font-clearface text-[20px] text-black tracking-wider">Số tiền:</span>
                <span>fghlkfghkl</span>
            </div>
            <div class="flex items-center justify-between w-full">
                <span class="font-clearface text-[20px] text-black tracking-wider">Khách sạn:</span>
                <span>fghlkfghkl</span>
            </div>
            <div class="flex items-center justify-between w-full">
                <span class="font-clearface text-[20px] text-black tracking-wider">Loại phòng:</span>
                <span>fghlkfghkl</span>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <button type="button" class="px-6 py-3 text-white bg-black font-clearface text-[17px]">Trang chủ</button>
                <button type="button" class="px-6 py-3 text-white bg-black font-clearface text-[17px]">Xem booking</button>
            </div>
        </div>
    </div>
</div>