<div class="relative w-full h-auto">
    <svg class="mf-lines w-full h-full" preserveAspectRatio="none" viewBox="0 0 932 800">
        <defs>
            <linearGradient id="mf-grad-base" x1="0" y1="0" x2="100" y2="0" gradientUnits="userSpaceOnUse">
                <stop offset="0%" stop-color="#5B7CFF" stop-opacity="0.25"></stop>
                <stop offset="50%" stop-color="#8F5BFF" stop-opacity="0.20"></stop>
                <stop offset="100%" stop-color="#FF6A88" stop-opacity="0.25"></stop>
            </linearGradient>

            <linearGradient id="mf-grad" x1="0" y1="0" x2="100" y2="0" gradientUnits="userSpaceOnUse">
                <stop offset="0%" stop-color="#394EE4"></stop>
                <stop offset="50%" stop-color="#394EE4"></stop>
                <stop offset="75%" stop-color="#394EE4"></stop>
                <stop offset="100%" stop-color="#394EE4"></stop>
            </linearGradient>
        </defs>
        <!-- top -->
        <g class="mf-conn" style="--len: 125;">
            <path class="mf-base" d="M 466.20001220703125,200 L 466.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="butt"></path>
            <path class="mf-glow" d="M 466.20001220703125,200 L 466.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 0s;"></path>
            <path class="mf-pulse" d="M 466.20001220703125,200 L 466.20001220703125,400" stroke="url(#mf-grad)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 0s;"></path>
        </g>
        <!-- Icon ở đỉnh giữa (466.20001220703125,200) -->
        <a xlink:href="https://linkfiin.vn/dang-ky-xac-minh" target="_blank">
            <foreignObject x="406.20001220703125" y="80" width="120" height="120">
                <div xmlns="http://www.w3.org/1999/xhtml" class="icon-box" href="#">
                    <img src="assets/icons/features/assets.png" />
                    <p><strong>{{ translocoService.translate('line_animation.asset_management') }}</strong>
                    </p>
                </div>
            </foreignObject>
        </a>

        <!-- 1 -->
        <g class="mf-conn" style="--len: 289.7250061035156;">
            <path class="mf-base" d="M 260,190 L 350,190 L 350,400 L 466.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="butt"></path>
            <path class="mf-glow" d="M 260,190 L 350,190 L 350,400 L 466.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 0.28s;"></path>
            <path class="mf-pulse" d="M 260,190 L 350,190 L 350,400 L 466.20001220703125,400" stroke="url(#mf-grad)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 0.28s;">
            </path>
        </g>
        <!-- Icon ở đỉnh bên trái (260,190) -->
        <a xlink:href="https://linkfiin.vn/dang-ky-xac-minh" target="_blank">
            <foreignObject x="170" y="130" width="80" height="120">
                <div xmlns="http://www.w3.org/1999/xhtml" class="icon-box">
                    <img src="assets/icons/features/verify.png" />
                    <p><strong>{{ translocoService.translate('line_animation.register') }}</strong></p>
                </div>
            </foreignObject>
        </a>

        <!-- 2 -->
        <g class="mf-conn" style="--len: 305.6125183105469;">
            <path class="mf-base" d="M 100,260 L 350,260 L 350,400 L 341.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="butt"></path>
            <path class="mf-glow" d="M 100,260 L 350,260 L 350,400 L 341.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 0.56s;"></path>
            <path class="mf-pulse" d="M 100,260 L 350,260 L 350,400 L 341.20001220703125,400" stroke="url(#mf-grad)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 0.56s;">
            </path>
        </g>
        <!-- Icon ở đỉnh bên trái (100,260) -->
        <a xlink:href="https://linkfiin.vn/theo-doi-khoan-huy-dong-von" target="_blank">
            <foreignObject x="10" y="200" width="80" height="120">
                <div xmlns="http://www.w3.org/1999/xhtml" class="icon-box">
                    <img src="assets/icons/features/loan.png" />
                    <p><strong>{{ translocoService.translate('line_animation.follow') }}</strong>
                    </p>
                </div>
            </foreignObject>
        </a>


        <!-- 3 -->
        <g class="mf-conn" style="--len: 191.20001220703125;">
            <path class="mf-base" d="M -10,400  L 460,400" stroke="url(#mf-grad-base)" stroke-linejoin="miter"
                stroke-linecap="butt"></path>
            <path class="mf-glow" d="M -10,400 L 460,400" stroke="url(#mf-grad-base)" stroke-linejoin="miter"
                stroke-linecap="round" style="animation-delay: 0.84s;"></path>
            <path class="mf-pulse" d="M -10,400 L 460,400" stroke="url(#mf-grad)" stroke-linejoin="miter"
                stroke-linecap="round" style="animation-delay: 0.84s;">
            </path>
        </g>
        <!-- Icon ở giữa bên trái (-10,400) -->
        <a xlink:href="https://linkfiin.vn/rut-tien-thanh-toan" target="_blank">
            <foreignObject x="-100" y="340" width="80" height="120">
                <div xmlns="http://www.w3.org/1999/xhtml" class="icon-box">
                    <img src="assets/icons/features/withdraw.png" />
                    <p><strong>{{ translocoService.translate('line_animation.withdraw') }}</strong>
                    </p>
                </div>
            </foreignObject>
        </a>


        <!-- 4 -->
        <g class="mf-conn" style="--len: 305.6125183105469;">
            <path class="mf-base" d="M 100,540 L 350,540 L 350,400 L 341.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="butt"></path>
            <path class="mf-glow" d="M 100,540 L 350,540 L 350,400 L 341.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 1.12s;"></path>
            <path class="mf-pulse" d="M 100,540 L 350,540 L 350,400 L 341.20001220703125,400" stroke="url(#mf-grad)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 1.12s;">
            </path>
        </g>
        <!-- Icon ở góc bên trái (100,540) -->
        <a xlink:href="https://linkfiin.vn/phan-tich-tai-chinh" target="_blank">
            <foreignObject x="-20" y="480" width="120" height="120">
                <div xmlns="http://www.w3.org/1999/xhtml" class="icon-box">
                    <img src="assets/icons/features/analysis.png" />
                    <p><strong>{{ translocoService.translate('line_animation.analyst') }}</strong>
                    </p>
                </div>
            </foreignObject>
        </a>


        <!-- 5 -->
        <g class="mf-conn" style="--len: 289.7250061035156;">
            <path class="mf-base" d="M 260,610 L 350,610 L 350,400 L 466.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="butt"></path>
            <path class="mf-glow" d="M 260,610 L 350,610 L 350,400 L 466.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 1.4s;"></path>
            <path class="mf-pulse" d="M 260,610 L 350,610 L 350,400 L 466.20001220703125,400" stroke="url(#mf-grad)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 1.4s;">
            </path>
        </g>
        <!-- Icon ở góc bên trái (260,610) -->
        <a xlink:href="https://linkfiin.vn/gioi-thieu-hoan-tien" target="_blank">
            <foreignObject x="160" y="570" width="80" height="120">
                <div xmlns="http://www.w3.org/1999/xhtml" class="icon-box">
                    <img src="assets/icons/features/referral.png" />
                    <p><strong>{{ translocoService.translate('line_animation.about') }}</strong>
                    </p>
                </div>
            </foreignObject>
        </a>


        <!-- 1 right -->
        <g class="mf-conn" style="--len: 289.7249755859375;">
            <path class="mf-base" d="M 670,190 L 580,190 L 580,400 L 466.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="butt"></path>
            <path class="mf-glow" d="M 670,190 L 580,190 L 580,400 L 466.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 1.68s;"></path>
            <path class="mf-pulse" d="M 670,190 L 580,190 L 580,400 L 466.20001220703125,400" stroke="url(#mf-grad)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 1.68s;">
            </path>
        </g>
        <!-- Icon ở đỉnh bên phải (670,190) -->
        <a xlink:href="https://linkfiin.vn/ky-hop-dong" target="_blank">
            <foreignObject x="670" y="130" width="120" height="120">
                <div xmlns="http://www.w3.org/1999/xhtml" class="icon-box">
                    <img src="assets/icons/features/contract.png" />
                    <p><strong>{{ translocoService.translate('line_animation.sign') }}</strong></p>
                </div>
            </foreignObject>
        </a>


        <!-- 2 right -->
        <g class="mf-conn" style="--len: 305.61248779296875;">
            <path class="mf-base" d="M 830,260 L 580,260 L 580,400 L 591.2000122070312,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="butt"></path>
            <path class="mf-glow" d="M 830,260 L 580,260 L 580,400 L 591.2000122070312,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 0.16s;"></path>
            <path class="mf-pulse" d="M 830,260 L 580,260 L 580,400 L 591.2000122070312,400" stroke="url(#mf-grad)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 0.16s;">
            </path>
        </g>
        <!-- Icon ở đỉnh bên phải (830,260) -->
        <a xlink:href="https://linkfiin.vn/cham-diem-tin-dung" target="_blank">
            <foreignObject x="830" y="200" width="120" height="120">
                <div xmlns="http://www.w3.org/1999/xhtml" class="icon-box">
                    <img src="assets/icons/features/rating.png" />
                    <p><strong>{{ translocoService.translate('line_animation.mark') }}</strong>
                    </p>
                </div>
            </foreignObject>
        </a>


        <!-- 3 right -->
        <g class="mf-conn" style="--len: 191.20001220703125;">
            <path class="mf-base" d="M 930,400 L 460,400" stroke="url(#mf-grad-base)" stroke-linejoin="miter"
                stroke-linecap="butt"></path>
            <path class="mf-glow" d="M 930,400 L 460,400" stroke="url(#mf-grad-base)" stroke-linejoin="miter"
                stroke-linecap="round" style="animation-delay: 0.44s;"></path>
            <path class="mf-pulse" d="M 930,400 L 460,400" stroke="url(#mf-grad)" stroke-linejoin="miter"
                stroke-linecap="round" style="animation-delay: 0.44s;">
            </path>
        </g>
        <!-- Icon ở giữa bên phải (930,400) -->
        <a xlink:href="https://linkfiin.vn/lien-ket-ngan-hang" target="_blank">
            <foreignObject x="930" y="340" width="120" height="120">
                <div xmlns="http://www.w3.org/1999/xhtml" class="icon-box">
                    <img src="assets/icons/features/bank.png" />
                    <p><strong>{{ translocoService.translate('line_animation.link') }}</strong>
                    </p>
                </div>
            </foreignObject>
        </a>


        <!-- 4 right -->
        <g class="mf-conn" style="--len: 327.61248779296875;">
            <path class="mf-base" d="M 830,540 L 580,540 L 580,400 L 591.2000122070312,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="butt"></path>
            <path class="mf-glow" d="M 830,540 L 580,540 L 580,400 L 591.2000122070312,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 0.72s;"></path>
            <path class="mf-pulse" d="M 830,540 L 580,540 L 580,400 L 591.2000122070312,400" stroke="url(#mf-grad)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 0.72s;">
            </path>
        </g>
        <!-- Icon ở góc bên phải (830,540) -->
        <a xlink:href="https://linkfiin.vn/ho-tro-khach-hang" target="_blank">
            <foreignObject x="840" y="480" width="90" height="120">
                <div xmlns="http://www.w3.org/1999/xhtml" class="icon-box">
                    <img src="assets/icons/features/support.png" />
                    <p><strong>{{ translocoService.translate('line_animation.support') }}</strong>
                    </p>
                </div>
            </foreignObject>
        </a>


        <!-- 5 right -->
        <g class="mf-conn" style="--len: 289.7249755859375;">
            <path class="mf-base" d="M 670,610 L 580,610 L 580,400 L 466.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="butt"></path>
            <path class="mf-glow" d="M 670,610 L 580,610 L 580,400 L 466.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 1s;">
            </path>
            <path class="mf-pulse" d="M 670,610 L 580,610 L 580,400 L 466.20001220703125,400" stroke="url(#mf-grad)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 1s;">
            </path>
        </g>
        <!-- Icon ở góc bên phải (670,610) -->
        <a xlink:href="https://linkfiin.vn/bao-hiem-rui-ro" target="_blank">
            <foreignObject x="680" y="570" width="80" height="120">
                <div xmlns="http://www.w3.org/1999/xhtml" class="icon-box">
                    <img src="assets/icons/features/insurance.png" />
                    <p><strong>{{ translocoService.translate('line_animation.insurance') }}</strong>
                    </p>
                </div>
            </foreignObject>
        </a>


        <!-- bot -->
        <g class="mf-conn" style="--len: 125;">
            <path class="mf-base" d="M 466.20001220703125,600 L 466.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="butt"></path>
            <path class="mf-glow" d="M 466.20001220703125,600 L 466.20001220703125,400" stroke="url(#mf-grad-base)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 1.28s;"></path>
            <path class="mf-pulse" d="M 466.20001220703125,600 L 466.20001220703125,400" stroke="url(#mf-grad)"
                stroke-linejoin="miter" stroke-linecap="round" style="animation-delay: 1.28s;"></path>
        </g>
        <!-- Icon ở đỉnh bên phải (466.20001220703125,600) -->
        <a xlink:href="https://linkfiin.vn/dang-ky-xac-minh" target="_blank">
            <foreignObject x="406.20001220703125" y="620" width="120" height="120">
                <div xmlns="http://www.w3.org/1999/xhtml" class="icon-box">
                    <img src="assets/icons/features/portfolio.png" />
                    <p><strong>{{ translocoService.translate('line_animation.finance_management') }}</strong>
                    </p>
                </div>
            </foreignObject>
        </a>

    </svg>
    <div class="absolute inset-0 flex items-center justify-center pointer-events-none">
        <img src="assets/images/logo/myfiin-logo.svg" class="md:w-40 md:h-40 w-18 h-18" alt="Logo" />
    </div>
</div>