/* Tùy chỉnh màu sắc bản đồ */
.leaflet-tile-pane {
  filter: grayscale(50%) sepia(20%); /* Màu xám nhẹ, tông nâu */
}

/* Tùy chỉnh cluster */
.marker-cluster-small {
  background-color: rgba(255, 87, 51, 0.6); /* Màu cam nhạt */
  color: #fff;
}
.marker-cluster-small div {
  background-color: rgba(255, 87, 51, 0.9); /* Màu cam đậm hơn */
}
.marker-cluster-medium {
  background-color: rgba(51, 153, 255, 0.6); /* Màu xanh dương */
  color: #fff;
}
.marker-cluster-medium div {
  background-color: rgba(51, 153, 255, 0.9);
}

/* Đảm bảo marker và cluster không bị che */
.leaflet-marker-pane,
.leaflet-overlay-pane {
  z-index: 400;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 100%;
	}
.marker-cluster div {
	width: 100%;
	height: 100%;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}