<div class="relative flex flex-col w-full h-full">
    <div
        class="flex items-center justify-between w-full bg-primary h-15 rounded-t-xl"
    >
        <div class="flex items-center">
            <h3 class="pl-3 font-medium text-white">Chatbot</h3>
            <button [disabled]="groupStatus!=='Normal'" (click)="sendRequirement()" [matTooltip]="'Yêu cầu hỗ trợ'" type="button" class="ml-[8px] flex justify-center items-center"
                [ngClass]="{'opacity-50 disabled:cursor-not-allowed':groupStatus!=='Normal'}"
            ><mat-icon class="text-white text-[20px]">contact_support</mat-icon></button>
            <span *ngIf="groupStatus==='Waiting'" class="text-white text-[14px] ml-[8px]">Chờ phản hồi</span>
            <span *ngIf="groupStatus==='In progress'" class="text-white text-[14px] ml-[8px]">Đang tiếp nhận</span>
            <button (click)="outGroupChat()" type="button" *ngIf="crrUser.role === 2" class="flex bg-white text-black justify-center items-center px-2 py-1 ml-[8px] rounded-full">chat.end</button>
        </div>
        <div class="flex gap-2 pr-3">
            
            <button
                (click)="emitCloseChat()"
                type="button"
                class="text-white hover:text-gray-200"
            >
                <svg
                    class="w-5 h-5"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"
                    ></path>
                </svg>
            </button>
        </div>
    </div>
    <div
        #chatContainer
        (scroll)="onScroll()"
        class="relative flex flex-col flex-grow w-full h-64 gap-2 p-4 overflow-y-auto flex-shrink-1"
    >
        <ng-container *ngIf="isLoadingChat === true">
            <div
                class="fixed z-50 -translate-x-1/2 top-1/2 left-1/2"
                [ngClass]="{
                    'left-2/3': user.role === 1,
                    ' left-1/2': user.role === 3
                }"
            >
                <div class="loader"></div>
            </div>
        </ng-container>
        <ng-container *ngIf="chats">
            <ng-container *ngFor="let chat of chats; let i = index">
                <div
                    *ngIf="
                        (chats[i - 1] &&
                            compareDates(
                                formatTimestamp(chats[i - 1].timestamp)[0],
                                formatTimestamp(chats[i].timestamp)[0]
                            ) !== 0) ||
                        i === 0
                    "
                    class="flex justify-center w-full text-[#A0A0A0] text-xl font-normal font-lexend_deca"
                >
                    {{
                        formatTimestamp(chats[i].timestamp)[0] +
                            " " +
                            translocoService.translate("chat.at") +
                            " " +
                            formatTimestamp(chats[i].timestamp)[1]
                    }}
                </div>
                <div
                    class="flex max-w-full"
                    [ngClass]="{
                        'justify-end': chat.position === 'right',
                        'justify-start': chat.position === 'left'
                    }"
                >
                    <app-chat-bubble
                        class="max-w-[70%]"
                        [config]="chat"
                        [user]="users"
                        [inforAdmin]="adminData"
                    ></app-chat-bubble>
                </div>
            </ng-container>
        </ng-container>
        
        <ng-container *ngIf="isResponding">
            <div class="flex items-start space-x-3">
                <div
                    class="w-10 text-center bg-gray-300 rounded-md animate-pulse"
                >
                    <div class="flex items-center justify-center h-6">
                        <span
                            class="dot inline-block w-2 h-2 bg-gray-600 rounded-full mx-0.5 animate-bounce"
                        ></span>
                        <span
                            class="dot inline-block w-2 h-2 bg-gray-600 rounded-full mx-0.5 animate-bounce delay-500"
                        ></span>
                        <span
                            class="dot inline-block w-2 h-2 bg-gray-600 rounded-full mx-0.5 animate-bounce delay-1000"
                        ></span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <form
        class="flex items-stretch h-auto border-t"
        [formGroup]="form"
        (ngSubmit)="addMessage()"
    >
        <div class="flex items-center w-full gap-2 pl-2 pr-2">
            <!-- Khối input chính -->
            <div class="flex items-center flex-1 gap-2">
                

                <!-- Input + preview -->
                <div class="flex flex-col flex-1">
                    <!-- Image preview -->
                    <!-- Textarea -->
                    <textarea
                        #inputText
                        (input)="autoGrow(inputText)"
                        (keydown)="onKeyDown($event)"
                        formControlName="message"
                        placeholder="{{
                            translocoService.translate(
                                'chat.input_placeholder'
                            )
                        }}"
                        class="w-full pt-3 bg-transparent outline-none resize-none max-h-26"
                        style="max-height: 200px; min-height: 40px"
                    ></textarea>
                </div>
                

                
            </div>

            <!-- Nút gửi (luôn giữ) -->
            <button
                type="submit"
                class="flex items-center justify-center w-12 h-12 overflow-hidden text-white transition-all duration-200 transform rounded-full shadow-lg bg-gradient-to-r hover:shadow-xl hover:scale-105 group"
            >
                <img
                    class="w-6 h-6 object-contain group-hover:translate-x-0.5 transition-transform duration-200"
                    [src]="
                        true
                            ? 'assets/icons/marketplace/Icon Active.svg'
                            : 'assets/icons/marketplace/Icon Disable.svg'
                    "
                />
            </button>
        </div>
    </form>

    
</div>
