<div class='flex items-start w-full'>  
  <div class="flex flex-col w-full pr-5 shrink">
    <div class="bg-[#f4f4f4] w-full p-5 mb-5">
      <div class="flex flex-col w-full p-5 bg-white">
        <div class="flex justify-between mb-5">
          <span class="font-clearface text-[30px] font-normal">booking.guest_infor</span>
          <span class="font-avenir text-[16px] font-bold text-black text-start">booking.required *</span>
        </div>
        <form #formBooking [formGroup]="bookingForm" class="grid w-full grid-cols-2 gap-5">
          <div class="flex flex-col">
            <span class="block text-[#787878] font-avenir text-[10px] tracking-[1px] uppercase font-bold"
              [ngClass]="{'text-red-500':isSubmitted && bookingForm.get('fullname')?.invalid}"
            >booking.fullname</span>
            <input type="text" class="block w-full h-[50px] border border-[#d4d4d4] pl-[10px] text-[16px] font-avenir" name="fullname" formControlName="fullname"
              [ngClass]="{'bg-red-300 border-red-500':isSubmitted && bookingForm.get('fullname')?.invalid}"
            />
            <small *ngIf="isSubmitted && bookingForm.get('fullname')?.invalid" class="text-red-500">Vui lòng nhập họ tên</small>
          </div>
          <div class="flex flex-col">
            <span class="block text-[#787878] font-avenir text-[10px] tracking-[1px] uppercase font-bold"
              [ngClass]="{'text-red-500':isSubmitted && bookingForm.get('email')?.invalid}"            
            >booking.email</span>
            <input type="text" class="block w-full h-[50px] border border-[#d4d4d4] pl-[10px] text-[16px] font-avenir" name="email" formControlName="email"
              [ngClass]="{'bg-red-300 border-red-500':isSubmitted && bookingForm.get('email')?.invalid}"
            />
            <small *ngIf="isSubmitted && bookingForm.get('email')?.invalid" class="text-red-500">Vui lòng nhập email</small>
          </div>
          <app-select-country (countryName)="selectCountry($event)" [isValidSubmit]="isSubmitted && bookingForm.get('country')?.invalid"></app-select-country>
          
          <app-phone-input (phoneNumberEmit)="selectedPhone($event)" [isValidSubmit]="isSubmitted && bookingForm.get('phone')?.invalid"> </app-phone-input>
          
        </form>
        
      </div>
    </div>
    <div class="bg-[#f4f4f4] w-full p-5 mb-5">
      <div class="flex flex-col w-full p-5 bg-white">
        <div class="flex flex-col gap-8">
          <span class="block font-clearface text-[30px] text-black font-normal">booking.policies</span>
          <div class="grid w-full grid-cols-2">
            <p class="w-full">
              <span class="block uppercase text-[10px] tracking-[1px] font-bold ">check in</span>
              <span class="text-[10px]">booking.after 2:00 pm</span>
            </p>
            <p class="w-full">
              <span class="block uppercase text-[10px] tracking-[1px] font-bold ">check out</span>
              <span class="text-[10px]">booking.before 2:00 pm</span>
            </p>
          </div>
          <div class="w-full">
            <div class="bg-[#9e693d] px-[15px] py-[5px] text-[14px] uppercase font-extrabold text-white inline-flex">booking.room 1</div>
            <div class="mt-[30px] w-full">
              <span class="text-[10px] uppercase font-bold tracking-[1px] mt-[5px] block">booking.guarantee_policy</span>
              <span class="text-[10px] tracking-[1px]">booking.guarantee_policy</span>
            </div>
            <div class="mt-[30px] w-full">
              <span class="text-[10px] uppercase font-bold tracking-[1px] mt-[5px] block">booking.guarantee_policy</span>
              <span class="text-[10px] tracking-[1px]">booking.guarantee_policy</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="bg-[#f4f4f4] w-full p-5 mb-5">
      <div class="flex flex-col w-full p-5 bg-white">
        <div class="flex flex-col">
          <span class="font-clearface text-[30px] font-normal">booking.guarantee_my_booking</span>
          <div class="mt-[15px]">
            <span class="block text-[14px] font-avenir mb-[5px]">name hotel booking.accept_method</span>
            <div class="flex gap-2">
              <img src="assets/images/booking/logo_paypal.svg" class="object-cover w-[100px] h-[50px]"/>
              <img src="assets/images/booking/logo_vnpay.svg" class="object-contain w-[100px] h-[50px]"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='flex flex-col w-full'>
      <mat-checkbox (change)="onChangeCheckBox($event.checked)"> booking.agree <br> <small *ngIf="isSubmitted && showAgreeError" class="text-red-500">Please confirm that you have read, understood and agree to SLH Terms & Conditions and Privacy Policy</small></mat-checkbox>
      
      <div class="grid items-stretch w-full grid-cols-2 mt-[30px]">
        <button type="button" class="relative w-full hover:-translate-y-[4px] transition-all duration-300"
          [ngClass]="{ 'opacity-50 pointer-events-none': bookingForm.invalid || !isChecked, 'cursor-not-allowed': bookingForm.invalid || !isChecked }" [matTooltip]="bookingForm.invalid || !isChecked?'Hãy hoàn thiện thông tin trước khi thanh toán':''"
        >
          <div id="paypal-button-container" class="w-full"
          ></div>
        </button>
        <button (click)="onSubmit('vnpay')" type="button" class="flex items-start justify-center w-full h-max bg-red-400 hover:-translate-y-[4px] transition-all duration-300"><img src="assets/images/booking/logo_vnpay.svg" class="object-contain w-[100px] h-[45px]"/></button>
      </div>
    </div>
  </div>
</div>