body fuse-splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100vw;
    height: 100vh;
    background-color: black;
    color: #F9FAFB;

    z-index: 999999;
    pointer-events: none;

    opacity: 1;
    visibility: visible;
    transition: opacity 4000ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* body fuse-splash-screen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100vw;
    max-height: 100vh;
} */


body fuse-splash-screen .spinner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    width: 56px;
}

body fuse-splash-screen .spinner > div {
    width: 12px;
    height: 12px;
    background-color: #3941AB;
    border-radius: 100%;
    display: inline-block;
    animation: fuse-bouncedelay 1s infinite ease-in-out both;
}

body fuse-splash-screen .spinner .bounce1 {
    animation-delay: -0.32s;
}

body fuse-splash-screen .spinner .bounce2 {
    animation-delay: -0.16s;
}

@keyframes fuse-bouncedelay {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.0);
    }
}

body:not(.fuse-splash-screen-hidden) {
    overflow: hidden;
}

body.fuse-splash-screen-hidden fuse-splash-screen {
    visibility: hidden;
    opacity: 0;
}
