<div class="w-full mx-auto p-6">
    <!-- Tiện ích -->
    <h2 class="text-[24px] font-bold mb-6 text-primary">
        {{ translocoService.translate("list-app.title") }}
    </h2>

    <!-- Tính năng -->
    <div class="bg-white rounded-xl p-6 mb-6">
        <h2 class="text-[20px] font-semibold mb-4">
            {{ translocoService.translate("list-app.feature") }}
        </h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
            <a href="https://linkfiin.vn/dang-ky-xac-minh" target="_blank">
                <div class="bg-white border rounded-lg p-4 flex items-center gap-4 hover:shadow-lg transition">
                    <img src="assets/icons/features/verify.png" alt="verify" class="w-10 h-10 object-contain" />
                    <div class="relative inline-block group ">
                        <h3 class="text-[16px] font-semibold text-primary pointer-events-none">
                            {{ translocoService.translate("list-app.verify") }}
                        </h3>
                    </div>
                </div>
            </a>


            <a href="https://linkfiin.vn/theo-doi-khoan-huy-dong-von" target="_blank">
                <div class="bg-white border rounded-lg p-4 flex items-center gap-4 hover:shadow-lg transition">
                    <img src="assets/icons/features/loan.png" alt="loan" class="w-10 h-10 object-contain" />
                    <div class="relative inline-block group ">
                        <h3 class="text-[16px] font-semibold text-primary pointer-events-none">
                            {{ translocoService.translate("list-app.loan") }}
                        </h3>
                    </div>
                </div>
            </a>


            <a href="https://linkfiin.vn/rut-tien-thanh-toan" target="_blank">
                <div class="bg-white border rounded-lg p-4 flex items-center gap-4 hover:shadow-lg transition">
                    <img src="assets/icons/features/withdraw.png" alt="withdraw" class="w-10 h-10 object-contain" />
                    <div class="relative inline-block group ">
                        <h3 class="text-[16px] font-semibold text-primary pointer-events-none">
                            {{ translocoService.translate("list-app.withdraw") }}
                        </h3>
                    </div>
                </div>
            </a>


            <a href="https://linkfiin.vn/phan-tich-tai-chinh" target="_blank">
                <div class="bg-white border rounded-lg p-4 flex items-center gap-4 hover:shadow-lg transition">
                    <img src="assets/icons/features/analysis.png" alt="analysis" class="w-10 h-10 object-contain" />
                    <div class="relative inline-block group ">
                        <h3 class="text-[16px] font-semibold text-primary pointer-events-none">
                            {{ translocoService.translate("list-app.analysis") }}
                        </h3>
                    </div>
                </div>
            </a>


            <a href="https://linkfiin.vn/gioi-thieu-hoan-tien" target="_blank">
                <div class="bg-white border rounded-lg p-4 flex items-center gap-4 hover:shadow-lg transition">
                    <img src="assets/icons/features/referral.png" alt="referral" class="w-10 h-10 object-contain" />
                    <div class="relative inline-block group ">
                        <h3 class="text-[16px] font-semibold text-primary pointer-events-none">
                            {{ translocoService.translate("list-app.referral") }}
                        </h3>
                    </div>
                </div>
            </a>


            <a href="https://linkfiin.vn/dang-ky-xac-minh" target="_blank">
                <div class="bg-white border rounded-lg p-4 flex items-center gap-4 hover:shadow-lg transition">
                    <img src="assets/icons/features/portfolio.png" alt="portfolio" class="w-10 h-10 object-contain" />
                    <div class="relative inline-block group ">
                        <h3 class="text-[16px] font-semibold text-primary pointer-events-none">
                            {{ translocoService.translate("list-app.portfolio") }}
                        </h3>
                    </div>
                </div>
            </a>


            <a href="https://linkfiin.vn/bao-hiem-rui-ro" target="_blank">
                <div class="bg-white border rounded-lg p-4 flex items-center gap-4 hover:shadow-lg transition">
                    <img src="assets/icons/features/insurance.png" alt="insurance" class="w-10 h-10 object-contain" />
                    <div class="relative inline-block group ">
                        <h3 class="text-[16px] font-semibold text-primary pointer-events-none">
                            {{ translocoService.translate("list-app.insurance") }}
                        </h3>
                    </div>
                </div>
            </a>


            <a href="https://linkfiin.vn/ho-tro-khach-hang" target="_blank">
                <div class="bg-white border rounded-lg p-4 flex items-center gap-4 hover:shadow-lg transition">
                    <img src="assets/icons/features/support.png" alt="support" class="w-10 h-10 object-contain" />
                    <div class="relative inline-block group ">
                        <h3 class="text-[16px] font-semibold text-primary pointer-events-none">
                            {{ translocoService.translate("list-app.support") }}
                        </h3>
                    </div>
                </div>
            </a>


            <a href="https://linkfiin.vn/lien-ket-ngan-hang" target="_blank">
                <div class="bg-white border rounded-lg p-4 flex items-center gap-4 hover:shadow-lg transition">
                    <img src="assets/icons/features/bank.png" alt="bank" class="w-10 h-10 object-contain" />
                    <div class="relative inline-block group ">
                        <h3 class="text-[16px] font-semibold text-primary pointer-events-none">
                            {{ translocoService.translate("list-app.bank") }}
                        </h3>
                    </div>
                </div>
            </a>


            <a href="https://linkfiin.vn/cham-diem-tin-dung" target="_blank">
                <div class="bg-white border rounded-lg p-4 flex items-center gap-4 hover:shadow-lg transition">
                    <img src="assets/icons/features/rating.png" alt="rating" class="w-10 h-10 object-contain" />
                    <div class="relative inline-block group ">
                        <h3 class="text-[16px] font-semibold text-primary pointer-events-none">
                            {{ translocoService.translate("list-app.rating") }}
                        </h3>
                    </div>
                </div>
            </a>


            <a href="https://linkfiin.vn/ky-hop-dong" target="_blank">
                <div class="bg-white border rounded-lg p-4 flex items-center gap-4 hover:shadow-lg transition">
                    <img src="assets/icons/features/contract.png" alt="contract" class="w-10 h-10 object-contain" />
                    <div class="relative inline-block group ">
                        <h3 class="text-[16px] font-semibold text-primary pointer-events-none">
                            {{ translocoService.translate("list-app.contract") }}
                        </h3>
                    </div>
                </div>
            </a>


            <a href="https://linkfiin.vn/dang-ky-xac-minh" target="_blank">
                <div class="bg-white border rounded-lg p-4 flex items-center gap-4 hover:shadow-lg transition">
                    <img src="assets/icons/features/assets.png" alt="assets" class="w-10 h-10 object-contain" />
                    <div class="relative inline-block group ">
                        <h3 class="text-[16px] font-semibold text-primary pointer-events-none">
                            {{ translocoService.translate("list-app.assets") }}
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Ứng dụng -->
    <div *ngIf="appTypes.length > 0" class="bg-white rounded-xl p-6">
        <h2 class="text-[20px] font-semibold mb-6">
            {{ translocoService.translate("list-app.app") }}
        </h2>

        <div *ngFor="let group of appTypes" class="mb-6">
            <!-- Tiêu đề ngành -->
            <h3 class="text-[18px] font-bold text-primary mb-4">
                {{ translocoService.translate("app_type." + getIndustry(group.industry, "name")) }}
            </h3>

            <!-- Danh sách app -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                <div *ngFor="let app of group.apps"
                    class="bg-white border rounded-lg p-4 flex items-start gap-4 hover:shadow-lg transition"
                    [class.opacity-50]="app.isLocked">

                    <a [href]="app.isLocked ? null : app.url" target="_blank" class="flex items-center gap-4 flex-1"
                        [class.pointer-events-none]="app.isLocked">

                        <img [src]="app.logo" alt="{{ app.title }}" class="w-10 h-10 object-contain" />

                        <div>
                            <h4 class="text-[18px] font-semibold text-primary flex items-center gap-2">
                                {{ app.title }}
                                <span *ngIf="app.isLocked" class="text-red-500 text-xs font-medium">(Đang khóa)</span>
                            </h4>
                            <p class="text-gray-500 text-[16px]">{{ app.describe }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>