<div class="flex flex-col items-center w-full">
    <div class="w-full bg-black h-28 mb-[60px]"></div>
    <ng-container *ngIf="listRequirement?.length <=0 || !listRequirement">
        <span class='font-clearface text-[30px]'>
            chat.no_require
        </span>
        <div class="flex items-center justify-center mt-[20px]"
        >
            <div class="text-center">
                <img src="assets/images/chatbot/none_user.svg" class="object-contain"/>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="listRequirement?.length >0">
        <ng-container *ngIf="listRequirement | groupByStatus as grouped">
            <span *ngIf="!isJoin" class="font-clearface text-[30px]">Chờ tiếp nhận</span>
            <span *ngIf="isJoin" class="font-clearface text-[30px]">Bạn đang tiếp nhận 1 yêu cầu</span>
            <div class="w-full py-6 border-b border-[#787878] flex gap-2 flex-wrap px-16">

                <button [disabled]="isJoin" (click)="requestJoin(item.uuid)" *ngFor="let item of grouped['Waiting']; let i=index" type="button" class="shadow-md rounded-3xl flex p-2 gap-2 items-center">
                    <img [src]="item.user.avatar?item.user.avatar:'assets/images/avatars/default-avatar.svg'" class="rounded-full object-cover w-10 h-10" />
                    <span class="font-lexend_deca text-[14px]">{{item.user.email}}</span>
                </button>
            </div>

            <span class="font-clearface text-[30px]">Đang xử lý</span>
            <div class="w-full py-6 flex gap-2 flex-wrap px-16">

                <button disabled *ngFor="let item of grouped['In progress']; let i=index" type="button" class="shadow-md rounded-3xl flex items-center gap-2 p-2 disabled:opacity-70 disabled:cursor-not-allowed">
                    <img [src]="item.user.avatar?item.user.avatar:'assets/images/avatars/default-avatar.svg'" class="rounded-full object-cover w-10 h-10" />
                    <span class="font-lexend_deca text-[14px]">{{item.user.email}}</span>
                </button>
            </div>
        </ng-container>

    </ng-container>
        
    <!-- Main Content Area -->
</div>