
<div class="relative items-center flex flex-col flex-auto w-full h-full max-w-[1920px]">
    <div
        class="md:min-h-[100svh] h-[100svh] pb-10 bg-center bg-no-repeat bg-cover text-white flex flex-col justify-end items-center relative w-full"
        [style.background-image]="'url('+ ('assets/images/offer/offer_4.jpg')+ ')'"
    >
        <div class="absolute inset-0 bg-black/50"></div>
        <div class="flex flex-col items-center gap-5 w-full-col z-[1] mb-[100px]">
            <span class="font-avenir text-[40px] text-white uppercase">Save 20% off</span>
            <button type="button" class="flex px-[8px] py-[4px]">
                Xem khách sạn 
            </button>    
        </div>
        <!-- Search -->

    </div>
    <div class="flex flex-col px-16 max-w-[1440px] w-full bg-white -mt-[95px] z-[3] sticky top-28">
        
    </div>
    <div class="flex flex-col px-16 max-w-[1440px] w-full bg-white z-[2] items-center">
        <div class="text-center max-w-4xl mx-auto px-4 py-8">
            <p class="text-base md:text-lg leading-relaxed text-gray-800">
              Hãy tưởng tượng bạn thức dậy trên chiếc giường bốn cọc sang trọng, trước mắt là tầm nhìn tuyệt đẹp ra bãi biển cát trắng yêu thích của bạn, nơi những con sóng nhẹ nhàng vỗ về chỉ vài bước chân. Hãy tưởng tượng bạn gọi người quản gia riêng để mang đến cho bạn bữa sáng tươi ngon thưởng thức ngay trên ban công riêng. Hãy tưởng tượng bạn tận hưởng trải nghiệm spa thư giãn, tái tạo năng lượng, bao gồm hồ bơi riêng, bồn jacuzzi và vòi sen ngoài trời, xung quanh là những ngọn núi tuyệt đẹp nhất thế giới.
          
              Đừng chỉ tưởng tượng nữa, bởi những giấc mơ du lịch tuyệt vời nhất của bạn có thể trở thành hiện thực với <span class="font-semibold">SLH Suite Deal</span>! Những phòng suite khách sạn độc quyền đang chờ bạn cho kỳ nghỉ tiếp theo với <span class="font-semibold">giảm 20%</span> so với Giá tốt nhất hiện có. Chỉ cần tiếp tục đặt phòng và tìm “SLH Suite Deal” tại khách sạn bạn chọn. Giờ đây, tất cả những gì bạn cần làm là lựa chọn nơi nghỉ dưỡng ưng ý!
            </p>
        </div>
        <span class="font-classy text-[60px] text-[#9e693d]">Thank you !</span>

        <span class="text-[30px] font-clearface">Terms & Conditions</span>
        <div class="w-full flex justify-center mt-10 px-4">
            <div class="max-w-3xl text-gray-700 font-lexend_deca text-[15px] md:text-[16px] leading-relaxed space-y-4 bg-white/60 p-6 rounded-2xl shadow-sm border border-gray-100">
        
                <p>
                    Tất cả mức giá hiển thị trên hệ thống <span class="font-semibold text-gray-800">Luskibeck</span> 
                    đều phụ thuộc vào tình trạng phòng trống và có thể thay đổi tùy theo thời điểm. 
                    Một số khách sạn trong hệ thống có thể áp dụng các ngày ngoại lệ 
                    hoặc yêu cầu thời gian lưu trú tối thiểu cho một số ưu đãi.
                </p>
        
                <p>
                    Vui lòng lựa chọn cẩn thận trước khi đặt phòng, 
                    vì sau khi hoàn tất thanh toán, đặt phòng sẽ 
                    <span class="font-semibold text-gray-800">không thể thay đổi hoặc hoàn tiền</span>.
                </p>
        
                <p>
                    Các mức giá hiển thị dưới đây là 
                    <span class="font-semibold text-gray-800">giá phòng thấp nhất</span> 
                    tại khách sạn tương ứng trong khoảng thời gian bạn đã chọn 
                    và có thể <span class="italic">không áp dụng cho hạng phòng Suite</span>.
                </p>
        
            </div>
        </div>
        
    </div>
    <div class="flex flex-col px-16 max-w-[1440px] w-full bg-white z-[2] items-center mb-[60px]">
        <img class="w-full" src="assets/images/offer/footer.jpg" />
    </div>
</div>