.mat-select-arrow {
  display: block !important;
}
.custom-select {
  appearance: none; /* Chuẩn hiện đại */
  -webkit-appearance: none; /* Cho Safari */
  -moz-appearance: none; /* Cho Firefox */
  background-image: none; /* Tắt mũi tên nền */
}