<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation
    class="dark bg-primary print:hidden"
    [appearance]="navigationAppearance"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.compact"
    [opened]="!isScreenSmall"
>
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <!-- Logo -->
        <div class="flex flex-col items-center justify-center h-20 gap-1">
            <img
                src="assets/images/logo/logo_icon_hotel.svg"
                class="object-cover min-w-full min-h-full scale-110 invert brightness-200"
                alt="logo"
            />
        </div>
    </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="relative flex flex-col items-center flex-auto w-full min-w-0">
    <!-- Header -->
    <div
        class="top-0 flex items-end justify-between w-full overflow-hidden transition-colors duration-100 ease-in-out px-4shadow flex-0 md:px-6 z-49 dark:shadow-none dark:border-b bg-card print:hidden h-28 max-w-[1920px]"
        [ngClass]="{'fixed':!isAdminPage, 'sticky bg-black':isAdminPage,'bg-transparent':!isScrollDown && !isAdminPage, 'bg-black':isScrollDown}"
    >
        <div class="flex items-center h-full pr-2 space-x-2">
            <!-- Navigation toggle button -->
            <button
                class='!w-full !h-full'
                
                (click)="toggleNavigation('mainNavigation')"
            >
                <mat-icon
                    class="!text-2xl !w-20 !h-20 text-white"
                    [svgIcon]="'heroicons_outline:bars-3'"
                ></mat-icon>
            </button>
            <!-- Navigation appearance toggle button -->
            <!-- <button
                class="hidden md:inline-flex"
                mat-icon-button
                (click)="toggleNavigationAppearance()"
            >
                <mat-icon
                    [svgIcon]="'heroicons_outline:arrows-right-left'"
                ></mat-icon>
            </button> -->
        </div>
        <img
            src="assets/images/logo/logo_icon_hotel.svg"
            class="object-contain pt-3 scale-150 w-30 h-30 invert brightness-200 max-sm:hidden"
            alt="logo"
        />
        <!-- Components -->
        <div class="flex items-center h-full">
            <languages class="scale-120"></languages>
            <!-- <fuse-fullscreen
                class="hidden text-white md:block"
            ></fuse-fullscreen> -->
            <!-- <search [appearance]="'bar'"></search> -->
            <!-- <shortcuts></shortcuts>
            <messages></messages>
            <notifications></notifications> -->
            <!-- <button
                class="lg:hidden"
                mat-icon-button
                (click)="quickChat.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:chat-bubble-left-right'"></mat-icon>
            </button> -->
            <user *ngIf="crrUser " class="scale-120"></user>
            <ng-container *ngIf="!crrUser">
                <button matTooltip="Sign In" class="flex items-center text-center text-white" (click)="navigateToSignIn()">
                    <mat-icon class="text-white w-[50px] h-[50px]" [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                </button>
            </ng-container>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col items-center flex-auto w-full h-full bg-white max-w-[1920px]">
        <!-- Main -->
        <!-- CONTENT GOES HERE -->
        <!-- <div class="relative w-full bg-white"> -->
        <router-outlet *ngIf="true"></router-outlet>
        <!-- </div> -->
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
    </div>

    <!-- Footer -->
    <!-- <div class="relative flex items-center justify-start w-full px-4 border-t flex-0 h-14 md:px-6 z-49 bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">Fuse &copy; {{currentYear}}</span>
    </div> -->
    <div *ngIf="!isAdminPage" class="flex flex-col items-center justify-center w-full bg-white border-t border-t-black max-w-[1920px] px-16">
        <div class="flex relative flex-col items-center justify-center text-center max-w-[1440px] w-full py-16">
            <div class="absolute top-0 left-0 flex flex-col items-center self-start justify-center gap-2">
                <div class="flex">
                    <span>0325320230</span>
                    <span>contact&#64;luskibeck.com</span>
                </div>
                <span class="text-sm text-black font-avenir">
                    © 2024 Luskibeck. All rights reserved.
                </span>
                <span class="mt-2 text-sm text-black font-avenir">
                    Designed and Developed by Luskibeck Team
                </span>
            </div>
        </div>
        <div class="flex justify-between max-w-[1440px] w-full">
            <div class="flex items-start">
                <img
                    src="assets/images/logo/logo_icon_hotel.svg"
                    class="object-contain w-20 h-20"
                    alt="logo"
                />
                <div class="flex flex-col">
                    <span>alo</span>
                    <span>alo</span>
                    <span>alo</span>
                    <span>alo</span>
                    <span>alo</span>
                    <span>alo</span>
                    
                </div>
            </div>
            <div>alo</div>
        </div>
    </div>
    <ng-container *ngIf="!isAccessChat">
        <ng-container *ngIf="isCompleteNewChat">
            <div
                #bubbleChatBot
                class="fixed flex flex-col w-[18rem] h-[24rem] sm:w-[24rem] sm:h-[28rem] md:w-[28rem] md:h-[32rem] xl:w-[32rem] xl:h-[36rem] bg-white shadow-2xl rounded-xl z-[49] origin-bottom-right transition-[transform,opacity] duration-300"
                [class.scale-100]="isOpenChatBot"
                [class.scale-0]="!isOpenChatBot"
                [class.opacity-100]="isOpenChatBot"
                [class.opacity-0]="!isOpenChatBot"
                [class.pointer-events-auto]="isOpenChatBot"
                [class.pointer-events-none]="!isOpenChatBot"
                [style.left.px]="
                    window.innerHeight <= 700
                        ? position.x - 460
                        : position.x - 400
                "
                [style.top.px]="
                    window.innerHeight <= 700
                        ? position.y - 470
                        : position.y - 580
                "
            >
                <app-chat-widget
                    class="w-full h-full"
                    [class.hidden]="!isOpenChatBot"
                    [isOpenChatBot]="isOpenChatBot"
                    (closeChat)="closeChat()"
                >
                </app-chat-widget>
            </div>
        </ng-container>
        <ng-container *ngIf="isBtnOpenChat; else notBtnOpenChat">
            <div
                #btnOpenChat
                [class.hidden]="!crrUser || crrUser.role === 1"
                (mousedown)="onMouseDown($event)"
                [style.left.px]="position.x"
                [style.top.px]="position.y"
                class="fixed z-[20] w-48 flex items-center justify-center p-0 bg-transparent border-none shadow-none"
            >
                <button
                    type="button"
                    (click)="TurnOffBtnOpenChat()"
                    class="absolute top-2 right-5 z-10 flex items-center justify-center w-6 h-6 rounded-full bg-[#ED772F] cursor-pointer group hover:scale-110 transition-all duration-300"
                >
                    <mat-icon class="text-white">close</mat-icon>
                </button>
                <button
                    (click)="handleChatClick($event)"
                    type="button"
                    class="flex items-center justify-center w-full h-full shake"
                >
                    <img
                        [src]="
                            'assets/images/chatbot/AI-3.png'
                        "
                        class="h-full w-30"
                        alt="Logo"
                    />
                </button>
            </div>
        </ng-container>
        <ng-template #notBtnOpenChat>
            <button
                type="button"
                (click)="TurnOnBtnOpenChat()"
                class="fixed bottom-20 right-0 z-[1001] w-8 h-8 hover:scale-110 flex items-center justify-center p-0 bg-blue-400 text-white border-none shadow-none rounded-tl-xl rounded-bl-xl"
            >
                <h2>+</h2>
            </button>
        </ng-template>
    </ng-container>
</div>
<div class="fixed top-6 right-4 z-[1000]">
    <app-global-alert></app-global-alert>
</div>
<app-feedback *ngIf="isFeedbackOpen" (close)="closeFeedback()"></app-feedback>
<!-- Quick chat -->
<!-- <quick-chat #quickChat="quickChat"></quick-chat> -->
