<div *transloco="let t" class="w-full">
    <!-- Title -->
    <div *ngIf="!isTokenExpired">
        <div class="mt-5 text-4xl font-extrabold tracking-tight leading-tight">
            {{ t("change_password.title") }}
        </div>

        <fuse-alert
            class="mt-8"
            *ngIf="showAlert"
            [appearance]="'outline'"
            [showIcon]="false"
            [type]="alert.type"
            [@shake]="alert.type === 'error'"
        >
            {{ t(alert.code) }}
        </fuse-alert>

        <!-- Forgot password form -->
        <form
            class="w-full mt-6"
            [formGroup]="resetPasswordForm"
            #resetPasswordNgForm="ngForm"
        >
            <!-- Password field -->
            <mat-form-field floatLabel="always" class="w-full fuse-mat-dense">
                <mat-label>{{ t("change_password.password_label") }}</mat-label>
                <input
                    id="password"
                    matInput
                    type="password"
                    placeholder="{{ t('change_password.password_label') }}"
                    [formControlName]="'password'"
                    #passwordField
                    (focus)="passwordTouched = true"
                />
                <button
                    mat-icon-button
                    type="button"
                    (click)="
                        passwordField.type === 'password'
                            ? (passwordField.type = 'text')
                            : (passwordField.type = 'password')
                    "
                    matSuffix
                >
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"
                    ></mat-icon>
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-slash'"
                    ></mat-icon>
                </button>
                <mat-error
                    *ngIf="
                        resetPasswordForm.get('password')?.hasError('required')
                    "
                >
                    {{ t("change_password.password_required") }}
                </mat-error>
                <!-- <mat-error *ngIf="passwordTouched && passwordHasInvalidChar">
                    Có ký tự không hợp lệ
                </mat-error> -->
            </mat-form-field>
            <!-- Password required -->
            <div class="text-gray-400 mb-3">
                <p
                    class="flex items-center gap-2"
                    [ngClass]="getValidationClass(passwordValidLength)"
                >
                    <img
                        *ngIf="passwordTouched"
                        [src]="
                            passwordValidLength
                                ? 'assets/icons/tick-circle.svg'
                                : 'assets/icons/close-circle.svg'
                        "
                        alt=""
                        class="w-fit"
                    />
                    {{ t("change_password.min_length") }}
                </p>
                <p
                    class="flex items-center gap-2"
                    [ngClass]="getValidationClass(passwordHasLowerCase)"
                >
                    <img
                        *ngIf="passwordTouched"
                        [src]="
                            passwordHasLowerCase
                                ? 'assets/icons/tick-circle.svg'
                                : 'assets/icons/close-circle.svg'
                        "
                        alt=""
                        class="w-fit"
                    />
                    {{ t("change_password.lowercase_required") }}
                </p>
                <p
                    class="flex items-center gap-2"
                    [ngClass]="getValidationClass(passwordHasUpperCase)"
                >
                    <img
                        *ngIf="passwordTouched"
                        [src]="
                            passwordHasUpperCase
                                ? 'assets/icons/tick-circle.svg'
                                : 'assets/icons/close-circle.svg'
                        "
                        alt=""
                        class="w-fit"
                    />
                    {{ t("change_password.uppercase_required") }}
                </p>
                <p
                    class="flex items-center gap-2"
                    [ngClass]="getValidationClass(passwordHasSpecialChar)"
                >
                    <img
                        *ngIf="passwordTouched"
                        [src]="
                            passwordHasSpecialChar
                                ? 'assets/icons/tick-circle.svg'
                                : 'assets/icons/close-circle.svg'
                        "
                        alt=""
                        class="w-fit"
                    />
                    {{ t("change_password.special_char_required") }}
                </p>
            </div>

            <!-- Confirm Password field -->
            <mat-form-field floatLabel="always" class="w-full fuse-mat-dense">
                <mat-label>{{
                    t("change_password.confirm_password_label")
                }}</mat-label>
                <input
                    id="password"
                    matInput
                    type="password"
                    placeholder="{{ t('change_password.password_label') }}"
                    [formControlName]="'passwordConfirm'"
                    #passwordConfirmField
                />
                <button
                    mat-icon-button
                    type="button"
                    (click)="
                        passwordConfirmField.type === 'password'
                            ? (passwordConfirmField.type = 'text')
                            : (passwordConfirmField.type = 'password')
                    "
                    matSuffix
                >
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordConfirmField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"
                    ></mat-icon>
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordConfirmField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-slash'"
                    ></mat-icon>
                </button>
                <mat-error
                    *ngIf="
                        resetPasswordForm
                            .get('passwordConfirm')
                            ?.hasError('required')
                    "
                >
                    {{ t("change_password.confirm_password_required") }}
                </mat-error>
                <mat-error
                    *ngIf="
                        resetPasswordForm
                            .get('passwordConfirm')
                            .hasError('mustMatch')
                    "
                >
                    {{ t("change_password.confirm_password_not_match") }}
                </mat-error>
            </mat-form-field>

            <!-- Submit button -->
            <button
                class="fuse-mat-button-large !rounded-md w-full mt-5"
                mat-flat-button
                [color]="'primary'"
                [disabled]="!isPasswordValid || resetPasswordForm.disabled"
                (click)="resetPassword()"
                disabled
            >
                <span *ngIf="!resetPasswordForm.disabled">
                    {{ t("change_password.confirm") }}
                </span>
                <mat-progress-spinner
                    *ngIf="resetPasswordForm.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"
                >
                </mat-progress-spinner>
            </button>
        </form>
    </div>
</div>
