/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*:not(mat-icon):not(mat-icon *){
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.calendar-wrapper{
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: auto;
  background: #9e693d;
}
.wrapper{
  width: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 10px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons mat-icon:hover{
  background: #f2f2f2;
}
header .icons mat-icon:active{
  background: #9c9c9c;
}
header .current-date{
  color: black;  
  font-size: 21px;
  font-family: 'Clearface', cursive;
  font-weight: 700;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 700;
  font-size: 12px;
  font-family: 'Clearface', cursive;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 4px;
  height: 52px;
  
}
.days li #date{
  height: 40px;
  border-radius: 50%;
  width: 40px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: 'Avenir', cursive;
  align-items: center;
}
.days li #date:hover{
    background: #f2f2f2;
}
.days li.inactive #date{
  color: #aaa;
  height: 40px;
  border-radius: 50%;
  width: 40px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: 'Avenir', cursive;
  align-items: center;
  cursor:not-allowed;
}
.days li.active #date{
  color: #fff;
  height: 40px;
  width: 40px;
  background: #9e693d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: 'Avenir', cursive;
  align-items: center;
}

.days li.active #date:hover{
    background: #9e693d;
}
// .days li #date::before{
//   position: absolute;
//   content: "";
//   left: 50%;
//   top: 50%;
//   height: 40px;
//   width: 40px;
//   z-index: -1;
//   border-radius: 50%;
//   transform: translate(-50%, -50%);
// }
// .days li.active #date::before{
//   background: #9e693d;
// }
// .days li:not(.active) #date:hover::before{
//   background: #f2f2f2;
// }